@import "tailwindcss";

@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --selected-tab: #1d1d1d;
  --example: #1a1919;
  --bg-custom-gray: #232324;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-custom-dark: #232324;
  --color-custom-league-card: #313131;
  --color-custom-dark-black: #1d1d1d;
  --color-custom-dark-black-light: #252525;
  --color-highlight-custom-dark: #2e2e2e;
  --color-highlight-collapse-child: #292929;
  --color-custom-champions-league: #30496d;
  --color-custom-europa-league: #ad6608;
  --color-custom-conference-league: #648820;
  --color-custom-highlighted-list-row: #363636;
  --color-custom-pitch: #FFFFFF4D;
  --color-custom-disabled-odd: #201f1f;
  --color-custom-token-bg: #e2d51e;
  --color-custom-setting-card: #1a1919;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212c4;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Rubik', sans-serif;
  letter-spacing: 0.3px;
}
